[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
prospector = {version = "==1.5.1", extras = ["with_bandit", "with_mypy"]}
flake8 = "==3.8.4"

[requires]
python_version = "3.8"
